<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        Experimental Films Online - Selección Kwalhia:{{ film }} by {{ filmmaker
        }} / {{ country }}
    </title>
    <meta property="og:image" content="../../assets/img/ElSolBrillaParaTodxs.png" />
    <meta name="description"
        content="sinopsis: {{ country }} Watch experimental films online. Mira cine experimental online. " />
    <meta property="og:type" content="website" />
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/film_player.css" /> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <nav class="navbar navbar-expand-lg lg navbar-dark fixed-top bg-black">
        <div class="container-fluid">
            <a class="navbar-brand px-2" href="#">Experimental Films Online </a>
            <!-- <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Genres
              </a>
            
            </li>
           
          </ul> -->

            <div class="collapse navbar-collapse  justify-content-center  " id="navbarNav">
                <ul class="navbar-nav ml-auto px-3   ">
                    <li class="nav-item">
                        <a class="nav-link" href="#"> Psynemas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"> FAQ</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="#">👨‍💻 Programas</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="#"> Contacto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">👽 Sobre Nosotros</a>
                    </li>
                </ul>
            </div>
            <form class="d-flex ms-auto col-4 col-md-3">
                <input class="form-control me-2 " type="search" placeholder="Encontrar..." aria-label="Search">
                
                <button type="button" class="btn btn-primary hueRotate " data-bs-toggle="modal" data-bs-target="#searchModal">
                   Buscar
                </button>
              
          
            </form>
            <!-- <button class="btn btn-primary ms-2">Log in</button>
          <button class="btn btn-outline-primary ms-2">Registration</button> -->
        </div>
        </div>
    </nav>


    <main class="film_screen" id="app">
        <div id="gifCarousel" class="carousel slide carousel-fade " data-bs-ride="carousel" data-bs-interval="30000">
            <div class="carousel-inner">
                <div v-for="(gif, index) in randomGifs" :class="['carousel-item', { 'active': index === 0 }]"
                    v-if="filmsData.length > 0">
                    <img class="d-block w-100" :src="gif" :alt="'GIF ' + (index + 1)" 
                    style="height: 98vh !important;"/>
                    <div class="text-start  carousel-caption d-none d-md-block px-4"
                        style="background-color: rgba(12, 12, 12, 0.708); border-radius: 30px;">
                        <h2>
                            <a :href="'cinema/' + filmsData[index].path + '.html'">
                                <i class="fa-solid fa-play px-3"></i>{{ filmsData[index].film }}
                            </a>
                        </h2>
                        <hr>
                        
                            <h3>{{ filmsData[index].filmmaker }} </h3>
                            <h5>({{ filmsData[index].country }}) {{ filmsData[index].runtime }} min</h5>
                            <!-- <p>{{ filmsData[index].sinopsis }}</p> -->
                     
                    </div>
                </div>
                <a class="carousel-control-prev" href="#gifCarousel" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </a>
                <a class="carousel-control-next" href="#gifCarousel" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </a>
            </div>

        </div>

        <!-- Left and right controls -->

        </div>
        </div>

        <section class="seleccion">
            <a href="https://kwalhia.com">
                <img src="assets/img/kwh_logo.png" alt="" />
            </a>
            <video muted autoplay loop src="assets/laurel.mp4" alt=""></video>
            <h1>Selección Kwalhia</h1>
        </section>
        <style>

        </style>
        <div class="container posters">
            <div class="row">
                <div v-for="(poster, index) in limitedPosters" class="col-sm-6 col-md-3 col-lg-3 poster-display" 
                data-bs-toggle="tooltip" data-bs-placement="right" 
                :title="filmsData[index].sinopsis"
                >
                    
                    <!-- <div class="poster-container"> -->
                    <a :href="'cinema/' + filmsData[index].path + '.html'" class="play-icon">
                        <img  :src="poster" :alt="'Poster ' + (index + 1)" />
                        <!-- <i class="fa-solid fa-play play-icon"></i>  -->
                      <div class="hueRotate"  >  <span class="poster-title">{{ filmsData[index].film }}
                        <p>{{ filmsData[index].filmmaker }}</p></span>
                       <span>
                        ({{ filmsData[index].country }})
                       </span>
                        <span class="runtime">
                            {{ filmsData[index].runtime }} min</span>
                        </div>
                     
                    </a>
                <!-- </div> -->
                </div>
            </div>
        </div>
    </main>

    

    <!-- Modal -->
    <div class="modal custom-modal fade modal-bg mt-3" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content bg-dark">
                <div class="modal-header">
                    <h5 class="modal-title" id="searchModalLabel">Buscar</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col-6 mb-3">
                                <label for="searchDirector" class="form-label">Director</label>
                                <input type="text" class="form-control" id="searchDirector"
                                    placeholder="Director's Name">
                            </div>
                            <div class="col-6 mb-3">
                                <label for="searchTitle" class="form-label">Title</label>
                                <input type="text" class="form-control" id="searchTitle" placeholder="Movie Title">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 mb-3">
                                <label for="searchYear" class="form-label">Year</label>
                                <input type="number" class="form-control" id="searchYear" placeholder="Year">
                            </div>
                            <div class="col-6 mb-3">
                                <label for="searchCountry" class="form-label">Country</label>
                                <input type="text" class="form-control" id="searchCountry" placeholder="Country">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Buscar</button>
                </div>
            </div>
        </div>
    </div>



    <script src="assets/js/boostrap.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script>
        const { createApp, ref, onMounted } = Vue;

        createApp({
            setup() {
                // Define reactive properties
                const randomGifs = ref([]);
                const limitedPosters = ref([]);
                const filmsData = ref([]);

                const fetchData = async () => {
                    try {
                        const response = await fetch("assets/2023/efoDB_023_v4.json");
                        const data = await response.json();

                        const shuffledData = shuffleArray([...data]); // Use a copy of the data array



                        function shuffleArray(array) {
                            var currentIndex = array.length,
                                temporaryValue,
                                randomIndex;
                            // While there remain elements to shuffle...
                            while (0 !== currentIndex) {
                                // Pick a remaining element...
                                randomIndex = Math.floor(Math.random() * currentIndex);
                                currentIndex -= 1;

                                // And swap it with the current element.
                                temporaryValue = array[currentIndex];
                                array[currentIndex] = array[randomIndex];
                                array[randomIndex] = temporaryValue;
                            }
                            return array;
                        }

                        // Set data for gifs and posters
                        randomGifs.value = shuffledData
                            .slice(0, 5)
                            .map((item) => "../assets/2023/gifs/" + item.gif);
                        limitedPosters.value = shuffledData
                            .slice(0, 12)
                            .map(
                                (item) => "../assets/2023/posters/" + item.poster + ".jpg"
                            );

                        filmsData.value = shuffledData;
                    } catch (error) {
                        console.error("Error fetching data:", error);
                    }
                };

                // Call fetchData on mount
                onMounted(fetchData);

                return { randomGifs, limitedPosters, filmsData };
            },
        }).mount("#app");
    </script>
</body>

</html>